volumes
!volumes/caddy
!volumes/frigate/config/config.yml
!volumes/mosquitto/config/mosquitto.conf
!volumes/nginx/config/keys/*.example
!volumes/nginx/config/nginx/site-confs/default.conf
!volumes/nginx/config/nginx/ssl.conf
